$theamColor : #59BE6C;
$shadow     : 0 4px 8px 0 rgba(0,0,0,0.2);
$colorWhite : #FFF;
$font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;

.heading{
    *{
        color:$colorWhite;
        text-align: center;
    }
}
