.chip {
  padding: 6px;
  margin: 4px;
  border-radius: 15px;
  float: left;
  transition: all 0.3s ease;
}

.white-green {
  background: #ffffff;
  color: #54b967;
}

.blue-white {
  background: #163d56;
  color: #ffffff;
}

.green-white {
  background: #54b967;
  color: #ffffff;
}
