.sel_heading_wrapper_col {
  margin: 10px 0px 30px 0px;
}

.sel_heading_h4 {
  margin: 0px;
  text-align: left;
}

.sel_heading_h5 {
  font-weight: 100;
  font-size: 12px;
  text-align: left;
}

.sel_chips_wrapper {
  margin: 0px 0px 15px 0px;
}

.add_heading_h5 {
  margin: 0px;
  text-align: left;
}
